*{
    background-color: rgb(123, 142, 123);
}
.pone{
    text-align: left;
}
.ptwo{
    text-align: center;
}
.pthree{
    text-align: right;
}
.green{
    color: green;
}
.image{
    text-align: center;
    }
    .button{
        width: 70px;
        border-radius: 50px;
        background-color: black;
        color: rgb(19, 220, 19);
    }