body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
    margin-top: 20px;
}

p, ul {
    color: #666;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    color: #0077B6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
